/buff_detector:
  ros__parameters:
  # Detector params.
    buff_mode: 4
    color: 0 # 0: blue / 1: red
    max_angle: 0.50  # fan switched angle threshhold
    max_lost_cnt: 5 
    max_v: 4.0  
    max_delta_t: 200.0
    fan_length: 0.75
    no_crop_thres: 0.002

  # Paths.
    camera_param_path: "/config/camera.yaml"
    path_prefix: "/recorder/dataset/"
    
    network_path: "/model/buff-05-28-01.xml"

  # Debug.
    use_roi: true
    debug: false

    show_img: false
    show_all_fans: false
    show_fps: false
    print_target_info: false
    prinf_latency: false
    
    assist_label: false
    show_marker: false

/buff_processor:
  ros__parameters:
  # Predict params.
    max_timespan: 20000.0       
    max_rmse: 3.5
    max_v: 3.0
    max_a: 8.0
    history_deque_len_cos: 150
    history_deque_len_phase: 150
    history_deque_len_uniform: 150
    window_size: 2
    delay_small: 10.0
    delay_big: 270.0

  # Paths.
    pf_path: "/config/filter_param.yaml"
    camera_param_path: "/config/camera.yaml"

  # fitting params bound
    #               al  ah    wl   wh    pl    ph    bl  bh
    params_bound: [0.6, 1.1, 1.75, 2.1, -3.14, 3.14, 0.9, 1.4]
    
  # Debug.
    debug: true
    show_img: true
    show_marker: false
    show_fitting_curve: true